<style type="text/css">
	html {font-size: 5px; }

	#wrap {background-color: rgb(223, 255, 25); width:1280px; height: 16000px; margin: 0 auto;}

	#p1 {
		background-color: white;
		border: 8px solid black;
		width: 942px;
		height: 998px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 100px;}

	#main1{ 
		text-align: center;
		border: 5px solid black;
		width: 870px;
		height: 933px;
		margin: 0 auto;
		margin-top: 26px;
		}

	#p2 {
		background-color: white;
		border: 8px solid black;
		width: 942px;
		height: 12566px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 100px;}	

	#main2{ 
		border: 5px solid black;
		width: 870px;
		height: 12454px;
		margin: 0 auto;
		margin-top: 30px;
		}

	.a{
		background-color: black;
		border: solid 9px black;
		width: 838px;
		margin-top: 32px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 6px;
		}

	.b {
		background-color: black;
		border: solid 5px black;
		width: 838px;
		margin-top: 15px;
		margin-bottom: 28px;
		margin-right: auto;
		margin-left: auto;
		}

	.c {
		background-color: black;
		border: solid 2px black;
		width: 838px;
		margin-right: auto;
		margin-left: auto;
		}

	.d {
		border: solid 1px black;
		width: 838px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		}	

	.e {
		border: dashed 10px black;
		width: 835px;
		height: 0px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		margin-bottom: 28px;}	

	#dream {font-size: 93px;
			font-weight: bold;
			letter-spacing: 5px;
			font-family: 'Kanit', sans-serif;}

	#rel{
		font-size: 42px;
		margin-top: 38px;
		margin-bottom: 38px;
		font-family: 'Do Hyeon', sans-serif;
		}

	.con{ 
		font-size: 19px;
		text-align: center;
		line-height: 160%;
		width: 753px; 
		margin-right: auto;
		margin-left: auto;
		margin-top: 25px;
		font-family: 'Noto Sans KR', sans-serif;
		}
			 
	#star {
			margin-bottom: 100px;
			}

	#track {
			float: left;
			margin-left: 55px;
			font-size: 93px;
			font-weight: bold;
			letter-spacing: 5px;
			font-family: 'Kanit', sans-serif;
			}

	.t { 
		font-weight: bold;
		float: left;
		margin-left: 55px;
		font-size: 48px;
		margin-bottom: 20px;
		font-family: 'Noto Sans KR', sans-serif;
	   }

	p {
		margin-bottom: 40px;}

	.title {
		font-weight: bold;
		float: left;
		margin-left: 65px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: 'Noto Sans KR', sans-serif;
	 	}

	.text {
		float: left;
		margin-left: 65px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: 'Noto Sans KR', sans-serif;}


</style>
		